{% spaceless %}
    <div class="dcs-rating-container">
        {% for i in maxValue..1 %}
            {% set style = 'fa fa-star-o' %}
            {% if i <= rate %}
                {% set style = 'fa fa-star3' %}
            {% elseif  rate|isHalfStar(i) %}
                {% set style ='fa fa-star-half-o' %}
            {% endif %}
            <span class="{{ style }}"></span>
        {% endfor %}
    </div>
{% endspaceless %}