{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
    <div id="wrapper">



     

            <div align="center ">

                <img   src="{{ asset('template/images/404.png') }}"  style="width: 100%;"/>


            </div>  
    </div>


{% endblock %}