 <a class="btn btn-green btn-round " href="#" id="exit_club" >
         <span class="fa icon-action-redo "></span> <span  class="exitClub" id="{{club.id}}" >Quitter</span>
        </a> <a class="loader" id="loaderRejoindreClub" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
        </a>*<script>$('#exit_club').click(function() {
            $('#exit_club').hide();
    $('#loaderRejoindreClub').show();
    
    $.ajax({
        url: Routing.generate('exit_club', {'id': {{club.id}}}),
        success: function(data) {
          tab = data.split('*');
          $('#activer_member_club').hide();
            $('#loaderRejoindreClub').hide();
            $('#appendclubutton').append(tab[0]);
            $(tab[1]).appendTo(document.body);
        }
    });
});</script>